<div [ngClass]="'content'">
    <h2 [ngClass]="'title'">{{title}}</h2>
    <app-counter [counter]="counter"></app-counter>
    <!-- <h2 [ngStyle]="{'color': count >= 0 ? 'green' : 'red' }">{{count}}</h2> -->

    <div>
        <app-plus-button [counter]="counter" (counterEvent)="changeCounter($event)"></app-plus-button>
        <app-minus-button [counter]="counter" (counterEvent)="changeCounter($event)"></app-minus-button>
        <button (click)="reset()">reset</button>
        <!-- <button [ngClass]="'plus'" (click)="changeCount(1)">+</button> -->
        <!-- <button [ngClass]="'minus'" (click)="changeCount(-1)">-</button> -->
    </div>
</div>