<!-- <app-person [name]="name"></app-person> -->
<app-person [name]="name"
  (newPersonEvent)="addPerson($event)"></app-person>
<ul>
  <li *ngFor="let person of people">{{ person }}</li>
</ul>

<hr>

<h3>input and output example</h3>
<p>
  Open the console to see the EventEmmiter
  at work when you click Delete.
</p>
<app-input-output [name]="selectedName"
  (deleteRequest)="crossOffPerson($event)">
</app-input-output>
<!--
  app-input-output - Child Selector
  [name] - target: @input() property from child
  "selectedName" - Source: property from parent
  (deleteRequest) - Source: @output() event from child
  "croosOffPerson($event)" - target: handler from parent
-->
<div><h3>Slected person: {{selectedName}}</h3></div>