<div id="registerForm">
    <h2>Register</h2>
    <form (ngSubmit)="onRegister()">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput type="email" placeholder="Enter your email" [formControl]="email" required />
      </mat-form-field>
      <br>
  
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" placeholder="Enter your password" [formControl]="password" required />
      </mat-form-field>
      <br>
  
      <mat-form-field>
        <mat-label>First Name</mat-label>
        <input matInput placeholder="Enter your first name" [formControl]="firstName" required />
      </mat-form-field>
      <br>
  
      <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="Enter your last name" [formControl]="lastName" required />
      </mat-form-field>
      <br>
  
      <mat-form-field>
        <mat-label>Birth Date</mat-label>
        <input matInput type="date" [formControl]="birthDate" required />
      </mat-form-field>
      <br>
      <br>

      <button mat-raised-button color="primary" type="submit">Register</button>
    </form>
  </div>