<h2>My Flats</h2>
<button (click)="addNewFlat()">Add New Flat</button>
<div class="flats">
    <div *ngFor="let flat of myFlats" class="flat">
        <!-- Flat Image -->
        <div class="flatImage">
            <img [src]="flat.imgLink" [alt]="'Image of ' + flat.city" />
        </div>

        <!-- Flat Details -->
        <div class="flatDetail">
            <p><b>City:</b> {{ flat.city }}</p>
            <p><b>Street Name:</b> {{ flat.streetName }}</p>
            <p><b>Street Number:</b> {{ flat.streetNumber }}</p>
            <p><b>Area Size:</b> {{ flat.areaSize }}</p>
            <p><b>Air Conditioning:</b> {{ flat.hasAC ? 'Yes' : 'No' }}</p>
            <p><b>Year Built:</b> {{ flat.yearBuilt }}</p>
            <p><b>Rental Price (per month):</b> ${{ flat.rentPrice }}</p>
            <p><b>Owner:</b> {{ flat.owner }}</p>
            <p><b>Date Available:</b> {{ flat.dateAvailable | date: 'fullDate' }}</p>
        </div>
    </div>
</div>