* {
    margin: 0; padding: 0;
    box-sizing: border-box;
}
/* navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    width: 100%; height: 70px;
    background-color: white;
}
#logo {
    /* margin-top: 40px; */
    position: absolute;
    left: 50%;
    /* transform: translateX(-50%); */
    width: 70px; height: 70px;
    cursor: pointer;
}
.nav-links{
    display: flex;
    gap: 20px;
}
.nav-links a{
    text-decoration: none;
}
.nav-links a:hover{
    font-weight: 700;
}
.nav-links p a{
    text-decoration: underline;
}