<div>
    <label>Filter by City:</label>
    <input type="text" [(ngModel)]="filter.city" (input)="applyFilters()" />
    <label>Max Rent Price:</label>
    <input type="number" [(ngModel)]="filter.maxPrice" (input)="applyFilters()" />
    <button (click)="clearFilters()">Clear Filters</button>
</div>
<div>
    <label>
        <input type="checkbox" [(ngModel)]="filter.showFavorites" (change)="applyFilters()" />
        Show Favorites Only
    </label>
</div>
<div class="flats">
    <div *ngFor="let flat of filteredFlats" class="flat">
        <!-- Flat Image -->
        <div class="flatImage">
            <img [src]="flat.imgLink" [alt]="'Image of ' + flat.city" />
        </div>

        <!-- Flat Details -->
        <div class="flatDetail">
            <p><b>City:</b> {{ flat.city }}</p>
            <p><b>Street Name:</b> {{ flat.streetName }}</p>
            <p><b>Street Number:</b> {{ flat.streetNumber }}</p>
            <p><b>Area Size:</b> {{ flat.areaSize }}</p>
            <p><b>Air Conditioning:</b> {{ flat.hasAC ? 'Yes' : 'No' }}</p>
            <p><b>Year Built:</b> {{ flat.yearBuilt }}</p>
            <p><b>Rental Price (per month):</b> ${{ flat.rentPrice }}</p>
            <p><b>Owner:</b> {{ flat.owner }}</p>
            <p><b>Date Available:</b> {{ flat.dateAvailable | date: 'fullDate' }}</p>
        </div>
        <button class="favouriteBtn" (click)="toggleFavourite(flat.id)">
            favourite
        </button>
    </div>
</div>