.flat {
  position: relative; /* for layout */
  display: flex;
  margin: 30px 30px;
}

.flatImage {
  width: 30%;
}

.flatImage img {
  width: 100%;
  height: 100%;
  border: 1px solid black;
}

.flatDetail{
  margin: 5px;
}
.favouriteBtn{
  position: absolute; /* for layout */
  top: 15px;
  right: 250px;
  padding: 10px 20px;
  background-color: yellow;
  border: 1px solid yellowgreen;
}
.favouriteBtn:hover {
  background-color: red;
}
.favouriteFlat{
  border: 2px solid blueviolet;
}