#body{
    display: flex;
    flex-direction: column;
    background-color: beige;
    height: 100vh; /* Viewport height */
}

.content {
    flex-grow: 1;
    overflow-y: auto;
    margin-top: 90px;
    margin-left: 10px;
}